.sconsign.dblite
config.log
.sconf_temp
*.o
*.os
*.so
*.cfgc
*.pyc
*_wrap.cc
*Lib.py
_build.*
doc/html
doc/xml
doc/*.tag
doc/*.inc
doc/doxygen.conf
sql/lsstSchema4mysqlS12_lsstsim.sql
sql/lsstSchema4mysqlS12_sdss.sql
tests/.tests
tests/.cache
version.py
bin/addMySqlUser.py
bin/checkinSchema.py
bin/cleanupExpiredRuns.py
bin/destroyGlobal.py
bin/dropDatabases.py
bin/EA_to_metadata_sql.py
bin/grantDCAccess.py
bin/grantForUsers.py
bin/measureTable.py
bin/mysqlRegrTest.py
bin/schema_to_metadata.py
bin/setupGlobal.py
