_site
Gemfile
Gemfile.lock
datalink/columns-principal.yaml
datalink/*.zip

.scratch

# Python build
build
python/lsst_sdm_schemas.egg-info
__pycache__

# LSST version
python/lsst/sdm_schemas/version.py

# SCons build
config.log
python/*.dist-info/
