<ul>
  {%- assign schemas = site.pages | where: 'dir', '/' | where_exp: "page", "page.schema" | sort: 'sort-index' %}
  {%- for schema in schemas %}
  <li>
    <a href=".{{ schema.url }}">{{ schema.title }}</a>
    {%- if include.include_description %}
    {%- assign schema_data = site.data[schema.schema] -%}
    <p>
      {%- if schema_data.description -%}
        {{ schema_data.description }}
      {%- endif -%}
      {%- assign stripped_content = schema.content | strip -%}
      {%- if stripped_content != "" -%}
        {{ schema.content }}
      {%- endif -%}
    </p>
    {%- endif -%}
  </li>
  {%- endfor %}
</ul>
