<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">
    {% seo %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#157878">
    <link rel="stylesheet" href="{{ '/assets/css/style2.css?v=' | append: site.time | relative_url }}">
  </head>
  <body>
    <div id="container">
      <nav id="sidebar">
        <img id="logo" src="{{ '/assets/images/rubinobs.png' | relative_url }}"/>
        <ul>
          <li><a href=".">Schema Browser</a></li>
          {% include _schema_list.html include_description=false %}
        </ul>
      </nav>
      <div id="content">
        <main class="main-content">
          <h1>{{ page.title }}</h1>
          {{ content }}
          {% include _site_footer.html %}
        </main>
      </div>
    </div>
</body>
</html>
