<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    {% include _header.html %}
  </head>
  <body>
    <div id="container">
      <nav id="sidebar">
        {% include _logo.html %}
        <ul>
            <li><b>Updated:</b> {% last_modified_at %}</li>
        </ul>
        <ul>
          <li><a href=".">Schema Browser</a></li>
          <ul>
            <li><a href="">{{ page.title }}</a></li>
            <ul>
              {%- for table in site.data[page.schema].tables %}
              <li><a href="{{ table['@id'] }}">{{ table.name }}</a></li>
              {%- endfor %}
            </ul>
          </ul>
        </ul>
      </nav>
      <div id="content">
        <main class="main-content">
          <h1>{{ page.title }}</h1>
          {{ content }}
          {%- for table in site.data[page.schema].tables %}
          <section id="{{ table['@id'] | remove:'#' }}">
            <h2>{{ table.name }}</h2>
            <p>{{ table.description }}</p>
            <table class="schema-table">
              <tr>
                <th>Column Name</th>
                <th>Data Type</th>
                <th>Unit</th>
                <th>Description [UCD]</th>
              </tr>
              {%- for col in table.columns %}
              <tr id="{{ col['@id'] | remove:'#' }}">
                <td class="column-name">
                    <a href="#{{ col['@id'] | remove:'#' }}">{{ col.name }}</a>
                </td>
                <td>{{ col.datatype }}</td>
                <td>{{ col['ivoa:unit'] | default: col['fits:tunit'] }}</td>
                <td>
                    {{- col.description | escape }}
                    {%- if col['ivoa:ucd'] %} [{{col['ivoa:ucd']}}]{% endif -%}
                </td>
              </tr>
              {%- endfor %}
            </table>
          </section>
          {%- endfor %}
          {% include _footer.html %}
        </main>
      </div>
    </div>
</body>
</html>
