@import 'jekyll-theme-cayman';

html {
	height: 100%;
}

body {
	margin: 0;
	height: 100%;
}

a {
	color: #058b8c
}

#container {
	display: flex;
	height: 100%;
}

#sidebar {
	display: inline-block;
	vertical-align: top;
	height: 100%;
	width: 20%;
	overflow: auto;
	padding-left: 1rem;
}

#sidebar #logo {
	width: 80%;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

#sidebar ul {
	list-style-type: none;
	margin-left: 1rem;
	padding: 0;
}

#sidebar ul ul ul {
	font-size: .90rem;
}

#content {
	display: inline-block;
	vertical-align: top;
	height: 100%;
	width: 80%;
	overflow: auto;
}

.main-content {
	max-width: inherit;
	margin: inherit;
	padding: 0rem 2rem 2rem 2rem;
}

.main-content > :first-child {
	margin-top: 1rem;
}

.main-content section > :first-child {
	margin-top: 2rem;
}

.main-content h1, .main-content h2, .main-content h3, .main-content h4, .main-content h5, .main-content h6 {
	color: #058B8C
}

.main-content .schema-table .column-name {
	font-family: monospace;
}
