name: Build and Deploy the Schema Browser

"on":
  merge_group: {}
  pull_request: {}
  push:
    branches-ignore:
      # These should always correspond to pull requests, so ignore them for
      # the push trigger and let them be triggered by the pull_request
      # trigger, avoiding running the workflow twice.  This is a minor
      # optimization so there's no need to ensure this is comprehensive.
      - "dependabot/**"
      - "gh-readonly-queue/**"
      - "renovate/**"
      - "tickets/**"
      - "u/**"
  release:
    types: [published]

jobs:

  docs:

    runs-on: ubuntu-latest
    timeout-minutes: 10

    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0  # full history for setuptools_scm

      - name: Install Ruby and other prerequisites
        run: sudo apt-get install -y ruby-full build-essential zlib1g-dev

      - name: Install required Ruby gems
        run: sudo gem install bundler jekyll jekyll-theme-cayman

      - name: Build the schema browser site
        run: jekyll build

      # Only attempt documentation uploads for tagged releases and pull
      # requests from ticket branches in the same repository.  This avoids
      # version clutter in the docs and failures when a PR doesn't have access
      # to secrets.
      - name: Upload to LSST the Docs
        uses: lsst-sqre/ltd-upload@v1
        with:
          project: "sdm-schemas"
          dir: "_site"
          username: ${{ secrets.LTD_USERNAME }}
          password: ${{ secrets.LTD_PASSWORD }}
        if: >
          github.event_name != 'merge_group'
          && (github.event_name != 'pull_request'
              || startsWith(github.head_ref, 'tickets/'))
