name: Test PostgreSQL
on:
  workflow_call:

jobs:

  test_postgresql:

    runs-on: ubuntu-latest

    env:
      PGHOST: localhost
      PGPORT: 5432
      PGUSER: rubin
      PGPASSWORD: rubin
      PGDATABASE: sdm_schemas_test

    services:
      postgres:
        image: postgres:13
        env:
          POSTGRES_USER: rubin
          POSTGRES_PASSWORD: rubin
          POSTGRES_DB: sdm_schemas_test
        ports:
          - 5432:5432
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5

    steps:

      - name: Check out repo
        uses: actions/checkout@v6
        with:
          fetch-depth: 0

      - name: Setup Python and install dependencies
        uses: ./.github/actions/setup-test-environment

      - name: Set engine URL
        run: echo "FELIS_ENGINE_URL=postgresql+psycopg2://rubin:rubin@localhost:5432/sdm_schemas_test" >> $GITHUB_ENV

      - name: Create databases
        run: create-databases.sh

      - name: Generate SQL files
        run: generate-sql-files.sh postgresql

      - name: Load SQL files
        run: load-sql.sh postgresql

      - name: Load TAP_SCHEMA
        run: load-tap-schema.sh
