name: Validate Schemas

on: [push, workflow_dispatch]

jobs:
  validate:
    runs-on: ubuntu-latest

    steps:
      - name: Check out repo
        uses: actions/checkout@v6
        with:
          fetch-depth: 0

      - name: Setup Python environment
        uses: ./.github/actions/setup-python

      - name: Validate YAML files
        run: felis validate --check-redundant-datatypes ./yml/*.yaml
