name: Validate Schemas

on: [push, workflow_dispatch]

jobs:
  validate:
    runs-on: ubuntu-latest

    steps:
      - name: Check out repo
        uses: actions/checkout@v4

      - name: Setup Python and install dependencies
        uses: ./.github/actions/setup-test-environment

      - name: Validate YAML files
        run: felis validate --check-redundant-datatypes ./yml/*.yaml
